<div class="home">
<article class="top-panel">
    <button mat-fab color="primary" (click)="openDialog()" aria-label="Example icon button with a delete icon">
        <mat-icon>filter_alt</mat-icon>
    </button>
</article>
<app-shared-table class="table" (rowClick)="goToOwnerProfile($event)" [columnsToDisplay]="columns" [tableData]="tableData" [paginator]="paginator"></app-shared-table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

</div>